<header class="page-header" th:fragment="headerFragment"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav>
        <a href="/" style="font-weight: bold; font-size: 20px; margin-right: 30px;">부동산</a>
        <ul class="nav-links">
            <li><a href="/map">지도</a></li>
            <li><a href="#">분양</a></li>
            <li><a href="#">관심목록</a></li>
            <li><a href="/room/new">방내놓기</a></li>
        </ul>
    </nav>
    <ul class="user-links">
        <li class="dropdown" sec:authorize="isAnonymous()">
            <a href="/user/login" class="login-btn">로그인</a>
            <ul class="dropdown-menu">
                <li><a href="/user/signup">회원가입</a></li>
            </ul>
        </li>

        <li class="dropdown" sec:authorize="isAuthenticated()">
            <a href="/user/logout">로그아웃</a>
            <ul class="dropdown-menu">
                <li><a href="/user/myinfo">회원 정보</a></li>
            </ul>
        </li>
    </ul>
    </ul>
</header>